[submodule "Delphi-Cross-Socket"]
	path = Delphi-Cross-Socket
	url = https://github.com/winddriver/Delphi-Cross-Socket.git
[submodule "CnPack"]
	path = CnPack
	url = https://github.com/cnpack/cnvcl.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/PurpleI2P/OpenSSL-for-Android-Prebuilt.git
